= form_for  [@tournament, @team] do |f|
  - if @team.errors.any?
    #error_explanation
      %h2= "#{pluralize(@team.errors.count, "error")} prohibited this team from being saved:"
      %ul
        - @team.errors.full_messages.each do |msg|
          %li= msg
  .form
    .form_row      
      .field
        .label
          = f.label :name
        = f.text_field :name, :class => "text_field"
    .form_row
      .actions
        = f.submit 'Save', :class => "form_submit"
