%h1 Editing team

= render 'form'
.field
    = f.label :victories
    = f.number_field :victories
.field
  = f.label :losses
  = f.number_field :losses    

= link_to 'Show', @team
\|
= link_to 'Back', teams_path
