= form_for @tournament do |f|
  - if @tournament.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tournament.errors.count, "error")} prohibited this tournament from being saved:"
      %ul
        - @tournament.errors.full_messages.each do |msg|
          %li= msg
  %br
  .form
    .form_row
      .field
        .label
          = f.label :name
        = f.text_field :name, :class => "text_field"
      
    .form_row
      .field
        .label
          = f.label :country_id, "Pais"
        = f.collection_select :country_id, Country.order(:name), :id, :name, {},{:class => "text_field"}
      
    .form_row
      .field
        .label
          = f.label :team_limits
        = f.number_field :team_limits, :class => "text_field"
    
    .form_row  
      .field
        .label
          = f.label :prize
        = f.text_field :prize, :class => "text_field"
    
    .form_row  
      .actions
        = f.submit 'Save', :class => "form_submit"
