- if flash[:notice].present?
  .notice= flash[:notice]
%p
  %strong Name:
  = @tournament.name
%p
  %strong Creation date:
  = @tournament.created_at
%p
  %strong Country:
  = @tournament.country.name
%p
  %strong Team limits:
  = @tournament.team_limits
%p
  %strong Prize:
  = @tournament.prize

= render partial: "teams", locals: { teams: @tournament.teams }
%p= link_to "Nuevo Team", new_tournament_team_path(@tournament)
%p= link_to "Editar Teams", teams_batch_tournament_path(@tournament)

= link_to 'Edit', edit_tournament_path(@tournament)

= link_to 'Back', tournaments_path
