- if flash[:notice].present?
  .notice= flash[:notice]
%p
  %strong Name:
  = @tournaments.name
%p
  %strong Creation date:
  = @tournaments.created_at
%p
  %strong Country:
  = @tournaments.country.name
%p
  %strong Team limits:
  = @tournaments.team_limits
%p
  %strong Prize:
  = @tournaments.prize

= render partial: "teams", locals: { teams: @tournaments.teams }
%p= link_to "Nuevo Team", new_tournament_team_path(@tournaments)
%p= link_to "Editar Teams", teams_batch_tournament_path(@tournaments)

= link_to 'Edit', edit_tournament_path(@tournaments)

= link_to 'Back', tournaments_path
