
= form_for @tournaments do |f|

  %table
    %tr
      %th Nombre
      %th Victorias
      %th Derrotas
    = f.fields_for :teams do |fteam|
      %tr
        %td= fteam.text_field :name
        %td= fteam.text_field :victories
        %td= fteam.text_field :losses
  = f.submit

