= render partial: "Errors/errors", locals: {obj: @countries}

= form_for @countries do |c|
  .form
    .form_row
      .field
        .label
          = c.label :name, "Nombre "
        = c.text_field :name, :class => "text_field"
        
    .form_row
      .actions
        = c.submit 'Save', :class => "form_submit"