<!DOCTYPE html>
<html>
<head>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <div id="header">
      <div id="logo"><a href="#"></a></div>
        <div id="menu">
          <ul>
            <li><a><%=link_to "Home", root_path%></a></li>
            <% if current_user.present? %>
              <li><%=link_to "Torneos", tournaments_path%></li>
              <li><%=link_to "Jugadores", players_path%></li>
              <li><%=link_to "Paises", countries_path%></li>
              <li><%= link_to "LOGOUT", logout_path, :method=>:delete  %></li>
            <% else %>
              <li><%= link_to "LOGIN", login_path %></li>
              <li><%= link_to "SIGN UP", new_user_path %></li>
            <% end %>

            
          </ul>
        </div>
    </div>
    <!--end header -->
    <!-- main -->
    
</head>
<body>
<div id="main">
    <div id="content">
        <div id="text">
              <%= yield %>
      </div>
    </div>    
     <!-- footer -->
    <div id="footer">
      <div id="left_footer">&copy; Copyright 2008<strong> LolTournament </strong>design </div>
      <div id="right_footer">

        <!-- Please do not change or delete this link. Read the license! Thanks. :-) -->
        Design by <a href="http://www.realitysoftware.ca" title="LolTournament">LolTournaments</a>

      </div>
    </div>
    <!-- end footer -->
    </div>
    <!-- end main -->


</body>
</html>
